# This action pushes new amd64 and arm64 docker images to the Docker and GitHub
# registries on every new release of the project.
#
# Cobbled together from these sources:
# - https://github.com/docker/build-push-action/#usage
# - https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

name: release

"on":
  release:
    types: [published]

  # we do not build and push images for every commit, only for tagged releases.
  # uncomment this to enablle building for pull requests, to debug this
  # workflow.
  #
  # pull_request:
  #   branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: |
            mccutchen/go-httpbin
            ghcr.io/${{ github.repository }}
          tags: |
            # For releases, use the standard tags and special "latest" tag
            type=semver,pattern={{version}},enable=${{ github.event_name == 'release' }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ github.event_name == 'release' }}
            type=raw,value=latest,enable=${{ github.event_name == 'release' }}

            # For pull requests, use the commit SHA
            #
            # Note that this is disabled by default, but can be enabled for
            # debugging purposes by uncommenting the pull_request trigger at
            # top of the workflow.
            type=sha,format=short,enable=${{ github.event_name == 'pull_request' }}
        id: meta

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          sbom: true
          provenance: mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: |
            ${{ steps.meta.outputs.annotations }}
            org.opencontainers.image.title=go-httpbin
            org.opencontainers.image.description=A reasonably complete and well-tested golang port of httpbin
            org.opencontainers.image.authors=Will McCutchen <will@mccutch.org>
            org.opencontainers.image.source=https://github.com/mccutchen/go-httpbin
            org.opencontainers.image.url=https://github.com/mccutchen/go-httpbin
            org.opencontainers.image.documentation=https://github.com/mccutchen/go-httpbin/blob/main/README.md
            org.opencontainers.image.base.name=gcr.io/distroless/base
            org.opencontainers.image.licenses=MIT
